[title]:hover:after {
    content: attr(title);
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
  }